<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="row col-6 offset-3 mb-3">
        <h3 class="offset-3">Edit Listing</h3>
        <form action="/listings/<%=editListing._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="<%=editListing.title%>" name="listing[title]" class="form-control">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <input type="text" value="<%=editListing.description%>" name="listing[description]" class="form-control">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" value="<%=editListing.image%>" name="listing[image]" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="image" class="form-label">price</label>
                    <input type="number" value="<%=editListing.price%>" name="listing[price]" class="form-control">
                </div>
                <div class="mb-3 col-md-4">
                    <label for="image" class="form-label">Location</label>
                    <input type="text" value="<%=editListing.location%>" name="listing[location]" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Country</label>
                <input type="text" value="<%=editListing.country%>" name="listing[country]" class="form-control">
            </div>
            <button class="edit-btn btn btn-primary offset-5">Edit</button>
        </form>
    </div>    
</body>